body {
    background-color: #FFF8DC;
}

hr {
    border-style: dashed;
    color: #DAA520;
}

h1 {
    color: #745916;
}

h2 {
    color: #72550b;
}

h3 {
    color: white;
    background-color: #DAA520;
}